.slick-slider{
    height: 100%;
    .slick-list{
        height: 100%;
    }
    &.slick-dotted{
        margin-bottom: 0;
    }
        
    .slick-dots{
        width: auto;
        // bottom: -131px;
        bottom: -12.2vh;
        left: 55px;
        @media screen and (max-width:1440px) ,
        screen and (min-width: 1921px) and (max-height:1130px),
        screen and (max-height: 1000px) {
            bottom: -4.4vh;
        }
        @media screen and (max-width:991.98px) {
            width: auto;
            // bottom: -85px;
            // bottom: -17.7vh;
            bottom: auto;
            // top:100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            top:calc(100% + 53px);
            // @media screen and (max-height:740px) {
            //     top:calc(100% + 7vh);
            // }
            // @media screen and (max-height:700px) {
            //     top:calc(100% + 7vh);
            // }

            // @media screen and (min-height:610px) {
            //     bottom: -18vh;
            // }
            // @media screen and (min-height:612px) {
            //     bottom: -14vh;
            // }
            // @media screen and (min-height:700px) {
            //     // bottom: -21vh;
            //     bottom: -12vh;
            // }
            // @media screen and (min-height:760px) {
            //     bottom: -15vh;
            // }
            // @media screen and (min-height:820px) {
            //     bottom: -18vh;
            // }
        }
        @media screen and (min-width: 1921px) and (min-height:1700px) {
            bottom: -9.2vh;
        }
        li{
            width: 14.996px;
            height: 14.516px;
            @media screen and (max-width:768px) {
                width: 11.996px;
                height: 11.516px;
                margin: 0 2.4px;
            }
            button{
                width: 100%;
                height: 100%;
                &:before{
                    width: 100%;
                    height: 100%;
                    background-image: url('../images/icons/dot-gray.svg');
                    background-size: contain;
                    background-position: center center;
                    background-repeat: no-repeat;
                    font-size: 0;
                    color: rgba(0,0,0,0);
                    opacity: 1;
                }
            }
            &.slick-active{
                width: 23.82px;
                height: 22.56px;
                @media screen and (max-width:768px) {
                    width: 15.82px;
                    height: 15.56px;
                }
                button{
                    width: 100%;
                    height: 100%;
                    &:before{
                        width: 100%;
                        height: 100%;
                        background-image: url('../images/icons/dot-red.svg');
                    }
                }
            }
        }
    }
}
